<br><br><p>child4 works!</p>
<h1 style="background-color: aquamarine;">child 4 component for array object receive from parent component</h1>


<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">NAME</th>
        <th scope="col">COURSE</th>
        <th scope="col">FEES</th>
              </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of data_ary_obj ">
       
        <td>{{u.name}}</td>
        <td>{{u.Course}}</td>
        <td>{{u.fees}}</td>
      </tr>
    
    </tbody>
  </table>