<p>child3 works!</p>
<h1 style="background-color: burlywood;">child 3 component</h1>
<h4>here recived object from parent component</h4>


<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">NAME</th>
        <th scope="col">AGE</th>
        <th scope="col">ROLL</th>
        <th scope="col">ADDRESS</th>
        <th scope="col">MARRIED</th>
      </tr>
    </thead>
    <tbody>
      <tr>
       
        <td>{{dataobj.name}}</td>
        <td>{{dataobj.age}}</td>
        <td>{{dataobj.roll}}</td>
        <td>{{dataobj.address}}</td>
        <td>{{dataobj.ismarried}}</td>
      </tr>
    
    </tbody>
  </table>